{% if page.netease-cloud-music %}
  
  {% comment %} 默认设置 auto 为 1 {% endcomment %}
  {% assign auto_param = "1" %}
  
  {% comment %} 判断是否包含 '$' {% endcomment %}
  {% if page.netease-cloud-music contains '$' %}
    {% assign music_parts = page.netease-cloud-music | split: '$' %}
    {% assign music_id = music_parts[0] %}
    {% assign auto_param = music_parts[1] %}
  {% else %}
    {% assign music_id = page.netease-cloud-music %}
  {% endif %}

  <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="330" height="86"
          src="https://music.163.com/outchain/player?type=2&id={{ music_id }}&auto={{ auto_param }}&height=66", allow="autoplay">
  </iframe>

{% endif %}